<a href="https://colab.research.google.com/github/Milafreire/WoMakersCode_DataAnalyst/blob/main/Estoque_de_Seguran%C3%A7a_CamilaBarros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desafio 2: Determinando o Estoque de
Segurança.

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
plt.show()

In [ ]:
dados = pd.read_csv("desafio_02_estoque.csv")

In [ ]:
dados.head()

         data  vendas-iogurte  lead-time  vendas_iogurte^2
0  2015-01-04            5083          4       7027.423587
1  2015-01-11            4936          3       3990.483046
2  2015-01-18            5051          6       2686.320884
3  2015-01-25            4846          4      23461.131695
4  2015-02-01            5003          5         14.666830

In [ ]:
dados.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

vendas-iogurte      4999.170270
lead-time              5.094595
vendas_iogurte^2    5956.838576
dtype: float64

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data              370 non-null    object
 1   vendas-iogurte    370 non-null    int64
 2   lead-time         370 non-null    int64
 3   vendas_iogurte^2  370 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 11.7+ KB

In [ ]:
frequencia_ld = dados['lead-time'].value_counts()
percentual_ld = dados['lead-time'].value_counts(normalize = True) * 100
dist_freq_qualitativas_ld = pd.DataFrame({'Frequência': frequencia_ld, 'Porcentagem (%)': percentual_ld})
dist_freq_qualitativas_ld.rename_axis('Lead Time', axis = 'columns', inplace = True)

In [ ]:
dist_freq_qualitativas_ld

Lead Time  Frequência  Porcentagem (%)
5                  89        24.054054
6                  79        21.351351
4                  77        20.810811
7                  50        13.513514
3                  37        10.000000
8                  14         3.783784
2                  13         3.513514
9                   6         1.621622
1                   5         1.351351

In [ ]:
dados['lead-time'].mean()

5.094594594594595

In [ ]:
pd.value_counts(
    pd.cut(
        x = dados['lead-time'],
        bins = 1,
        include_lowest = True
    )
)

(0.991, 9.0]    370
Name: lead-time, dtype: int64

In [ ]:
vendas_iogurte = dados['vendas-iogurte']

In [ ]:
frequencia_vi = dados['vendas-iogurte'].value_counts()
percentual_vi = dados['vendas-iogurte'].value_counts(normalize = True) * 100
dist_freq_qualitativas_vi = pd.DataFrame({'Frequência': frequencia_vi, 'Porcentagem (%)': percentual_vi})
dist_freq_qualitativas_vi.rename_axis('vendas-iogurte', axis = 'columns', inplace = True)
dist_freq_qualitativas_vi

vendas-iogurte  Frequência  Porcentagem (%)
5020                     6         1.621622
4968                     5         1.351351
4902                     5         1.351351
4932                     5         1.351351
4952                     5         1.351351
...                    ...              ...
4885                     1         0.270270
4913                     1         0.270270
5092                     1         0.270270
5116                     1         0.270270
5093                     1         0.270270

[207 rows x 2 columns]

In [ ]:
n = dados.shape[0]
n

370

In [ ]:
k = 1 + (10 / 3) * np.log10(n)
k

9.56067241355665

In [ ]:
k = k.round(0)
k

10.0

In [ ]:
pd.value_counts(
    pd.cut(
        x = vendas_iogurte,
        bins = 10,
        include_lowest = True
    )
)

(4937.6, 4979.8]      78
(4979.8, 5022.0]      74
(5022.0, 5064.2]      65
(4895.4, 4937.6]      43
(5064.2, 5106.4]      42
(4853.2, 4895.4]      26
(5106.4, 5148.6]      25
(4810.577, 4853.2]     9
(5148.6, 5190.8]       5
(5190.8, 5233.0]       3
Name: vendas-iogurte, dtype: int64

In [ ]:
dados['vendas-iogurte'].mean()

4999.1702702702705

In [ ]:
desvio_medio_vi = vendas_iogurte - vendas_iogurte.mean()
desvio_medio_vi

0       83.82973
1      -63.17027
2       51.82973
3     -153.17027
4        3.82973
         ...
365    120.82973
366    -31.17027
367     95.82973
368    -58.17027
369     20.82973
Name: vendas-iogurte, Length: 370, dtype: float64

In [ ]:
desvio_medio_vi.sum()

-9.276845958083868e-11

In [ ]:
desvio_medio_absoluto_vi = desvio_medio_vi.mad()
desvio_medio_absoluto_vi

62.63789627465303

In [ ]:
dados['vendas_iogurte^2'] = desvio_medio_vi.pow(2)
dados

           data  vendas-iogurte  lead-time  vendas_iogurte^2
0    2015-01-04            5083          4       7027.423587
1    2015-01-11            4936          3       3990.483046
2    2015-01-18            5051          6       2686.320884
3    2015-01-25            4846          4      23461.131695
4    2015-02-01            5003          5         14.666830
..          ...             ...        ...               ...
365  2022-01-02            5120          5      14599.823587
366  2022-01-09            4968          3        971.585749
367  2022-01-16            5095          6       9183.337100
368  2022-01-23            4941          6       3383.780343
369  2022-01-30            5020          8        433.877641

[370 rows x 4 columns]

In [ ]:
dados['vendas_iogurte^2'].sum() / (len(desvio_medio_vi) - 1)
variancia_vi = desvio_medio_vi.var()
variancia_vi

5972.981769574455

In [ ]:
np.sqrt(variancia_vi)

77.28506821873457

In [ ]:
desvio_padrao_vi = desvio_medio_vi.std()
desvio_padrao_vi

77.28506821873457

In [ ]:
media = vendas_iogurte.mean()
media

4999.1702702702705

In [ ]:
moda_vi = vendas_iogurte.mode()[0]
moda_vi

5020

In [ ]:
Z = (5500 - media) / desvio_padrao_vi
Z

6.480290970466195

In [ ]:
Estoque_de_segurança = Z * ((desvio_padrao_vi * desvio_padrao_vi) / dados['lead-time'].mean())
Estoque_de_segurança

7597.593706317793